/* Import fonts to be used */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Montserrat&display=swap');


/* Smooth scrolling */

html {
    scroll-behavior: smooth
}

/* Removing default html page styling */

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Setting the default style for the body */

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #353C40;
    background-image: url(/assets/images/rainbowroad.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 100px;
}

/* Setting header position to relative to ensure positioning of header elements works as intended */

header {
    position: relative;
    height: 70px;
    top: 0px;
    width: 99%;
    left: 10px;

}

/* Styling for any h1 elements */

h1 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    color: #dedede;
    font-size: 75px;
    margin: 10px;
    text-align: center;
    text-shadow: -1px 2px 10px #353C40;
}

h2 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    color: #353C40;
    font-size: 40px;
    text-align: center;
    margin: 20px 0 5px 0;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #353C40;
    background-color: rgba(222, 222, 222, 0.5);
    border-radius: 25px;
    font-size: 25px;
    margin: 0 40px;
    padding: 10px;
}

/* Styling for banner area */

#logo-container,
#menu {
    display: inline-block;

}

/* Styling for logo */

#logo {
    width: 130px;
    height: 130px;
    transition: 500ms;
    /* adds transition effect for 100ms to logo */
}

#logo img {

    padding-top: 5px;
    width: 130px;
    height: 130px;
}

#logo-container {

    text-align: center;
    background-color: rgba(222, 222, 222, 0.5);
    border-radius: 50%;
    margin: 15px;
    width: 150px;
    height: 150px;
    /*positions the logo in the center of the parent container horizontally */
    display: flex;
    justify-content: center;

}

#logo:hover {

    scale: 1.1;
    /*applies the scale transition on hover*/
}

/* Styling nav bar at top of page */


#menu {
    float: right;
    margin-right: 1px;
    position: absolute;
    bottom: 15px;
    right: 0px;
    background-color: rgba(222, 222, 222, 0.5);
    border-radius: 25px;
}

#menu ul {
    list-style-type: none;
    font-size: 80%;
    padding: 10px
}

#menu ul li {
    display: inline-block;
    margin-right: 25px;
}

#menu li a {
    text-decoration: none;
    font-size: 150%;
    color: #353C40;
    font-weight: 500;
    transition-duration: 300ms;
}

#menu li a:hover {
    opacity: 50%;
}

/* styling for active nav menu item */

#menu .active {
    border-bottom: 2px solid #353C40;
}

/* Styling for footer */

footer {
    bottom: 0;
    height: 60px;
    width: 100%;
    border: 1px solid #353C40;
    background-color: rgba(222, 222, 222, 0.5);
    position: fixed;
}

.social-icons {

    padding-top: 13px;
    text-align: center;
    height: 60px;
}

.social-icons i {
    font-size: 200%;
    color: #353C40;
    margin: 0 15px;

}

.social-icons>li {
    display: inline;
}

.social-icons li i {

    transition: 300ms;
}

.social-icons li i:hover {

    opacity: 30%;

}

/* index.html styling */

/* Styling for the hero-image" */


/* commenting out for now
#hero-outer {
    height: 700px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 700px;
    width: 100%;
    background: url(../images/hero-image.jpg) no-repeat center center;
    /* animates zoom effect on loading page */
    /*
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#cover-text, #cover-text h2, #cover-text h3 {
    color: #353C40;
    text-align: left;
}

#cover-text {
    font-size: 130%;
    font-family: 'Fira Sans', sans-serif;
    width: 300px;
    height: 150px;
    padding-top: 20px;
    padding-left: 20px;
    background-color:rgba(222, 222, 222, 0.75);
    border-radius: 25px;
    bottom: 75px;
    right: 75px;
    position: absolute;
}

*/

/* Styling zoom effect for hero image */

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
} */

/* Styling for video on home page */

#videocontainer {
    margin: 0;
    text-align: center;
    height: fit-content;
}

#video {
    width: 80%;
    height: fit-content;
}

/* Styling for slideshow - code taken from https://www.section.io/engineering-education/how-to-make-an-image-carousel-for-your-website/ */

* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 400px;
    position: relative;
    margin: auto;
}

.slideshow-container img {
    max-width: 300px;
    margin-left: 50px;
}

/* Make the images invisible by default */
.Containers {
    display: none;
}

/* forward & Back buttons */
.Back,
.forward {
    cursor: pointer;
    position: absolute;
    top: 48%;
    width: auto;
    margin-top: -23px;
    padding: 17px;
    color: grey;
    font-weight: bold;
    font-size: 19px;
    transition: 0.4s ease;
    border-radius: 25px 5px 5px 25px;
    user-select: none;
}

/* Place the "forward button" to the right */
.forward {
    right: 0;
    border-radius: 5px 25px 25px 5px;
}

/*when the user hovers,add a black background with some little opacity */
.Back:hover,
.forward:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* The circles or bullets and indicators */
.dots {
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0 3px;
    background-color: #acc;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}

.enable,
.dots:hover {
    background-color: #717161;
}

/* Faint animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.4s;
    animation-name: fade;
    animation-duration: 1.4s;
}

@-webkit-keyframes fade {
    from {
        opacity: .5
    }

    to {
        opacity: 2
    }
}

@keyframes fade {
    from {
        opacity: .5
    }

    to {
        opacity: 2
    }
}

/* End of code taken from https://www.section.io/engineering-education/how-to-make-an-image-carousel-for-your-website/ for slideshow */


/* Styling for GoFundMe Logo */

#gofundme-logo {
    width: 320px;
    height: auto;
    transition: 300ms;
}

#gofundme-logo:hover {
    opacity: 0.5;
    scale: 1.1;
}

#gofundme-button {
    text-align: center;
}

/* Styling for sponsors section */

#sponsors {
    text-align: center;
    margin-bottom: 10px;
}

#sponsor-images img {
    max-width: 200px;
    max-height: auto;
    margin: 0 35px 25px 0;

}

#sponsor-images li {
    display: inline-block;
}



/* Styling for back to top button */
#to-top-container {
    text-align: center;
}

#to-top-button {
    font-size: 200%;
    border: 2px solid #353C40;
    border-radius: 25px;
    color: #353C40;
    background-color: #dedede;
    text-decoration: none;
    transition: 300ms;
    padding: 10px;
}

#to-top-button:hover {
    opacity: 0.5;
}

/* Styling for contact-us.html */


#contact-title {

    font-size: 200%;
    padding-bottom: 10%;
}

.contact-us-form {

    margin: 120px 0 0 0;
    color: #dedede;
    background-color: rgba(53, 60, 64, 0.75);
    border-radius: 25px;
    max-width: 700px;
    position: relative;
    left: 10%;
    padding: 30px;
}

.text-input {

    background: transparent;
    color: #dedede;
    width: 100%;
    height: 25px;
    margin: 8px;
    border: 1px solid #dedede;
    border-radius: 1px;

}

.contact-us-form h3 {
    padding: 10% 0 5% 10%;

}

form input[type="radio"] {

    margin-right: 10px;
    vertical-align: middle;
}

.contact-us-form div {
    padding: 5px;
    margin-left: 50px;
}

.text-input:hover {
    border-color:  rgba(53, 60, 64, 0.5);

}

input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
    background-color: rgba(53, 60, 64, 0.5);
}

#message {
    height: auto;
    resize: none;

}

.send-message {
    margin: 20px 0 0 10px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #405576;
    color: #dedede;
    text-align: center;
    border: 1px solid #dedede;

}

.send-message:hover {
    color: #4a6792;
    background-color: #dedede;
}

/* Styling for placeholder text - taken from https://www.w3schools.com/*/

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #dedede;
    opacity: 1;
    /* Firefox */
    text-align: left;
    font-size: 150%;
    opacity: 0.25;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #dedede;
    text-align: left;
    font-size: 150%;
    opacity: 0.25;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #dedede;
    text-align: left;
    font-size: 150%;
    opacity: 0.25;
}

/* Media queries */ 
/* Breakpoint of 850px */

@media screen and (max-width: 850px) {
    .contact-us-form {
        width: 450px
    }

    .contact-us-form #contact-title {
        font-size: 150%;
    }
}

/* Breakpoint of 550px */

@media screen and (max-width: 550px) {
    .contact-us-form {
        width: 450px;
        margin: 120px 0px 0px 0px;
        left: 0;
    }

    .contact-us-form #contact-title {
        font-size: 150%;
    }


}

