/* Import fonts to be used */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oleo+Script&display=swap');

/* Removing default html page styling */

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Setting the default style for the body */

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #353C40;
}
/* Setting header position to relative to ensure positioning of header elements works as intended */

header {
    position: relative;
}
/* Styling for any h1 elements */

h1 {
    font-family: 'Oleo Script', cursive, sans-serif;
    font-weight: 400;
    color: #353C40;
    font-size: 75px;
}

/* Styling for banner area */

#banner-text {
    position: absolute;
    right: 50%;
}

#logo-container, #banner-text, #menu {
    display: inline-block;
}

/* Styling for logo */

#logo {
    transition: 500ms;
    /* adds transition effect for 100ms to logo */
}

#logo img {
    margin: 15px;
    position: absolute;
    float: left;
    max-width: 150px;
    max-height: 150px;
}

#logo:hover {

    scale: 1.1;
    /*applies the scale transition on hover*/
}

/* Style for colored circle behind logo */

#logo-background {
    
    position: absolute;
    padding: 0;
    width: 150px;
    height: 150px;
    margin: 10px 15px 15px 15px;
    border: 1px solid #353C40;
    border-radius: 50%;
    background-color: #d1dbde;
}

/* Styling for container holding logo and logo-background */

#logo-container {
    width: 150px;
    height: 150px;
    position: relative;
}

/* Styling nav bar at top of page */

#menu {
    float: right;
    margin-right: 20px;
   position: absolute;
   bottom: 0px;
   right: 0px;
}

#menu ul {
    list-style-type: none;
    font-size: 130%;
}

#menu ul li {
    display: inline-block;
    margin-right: 40px;
}

#menu li a {
    text-decoration: none;
    font-size: 150%;
    color: #353C40;
    font-weight: 500;
    background: linear-gradient(red, orange, yellow, green, blue, purple);
    background-clip: text;
    -webkit-background-clip: text;
    transition: 500ms;
}

#menu li a:hover {
    color: transparent;
    font-size: 165%;

}

/* styling for active nav menu item */

.active {
    border-bottom: 2px solid #353C40;
}